ase==3.24.0
data==0.4
hydra-core==1.3.2
matminer==0.9.3
matplotlib==3.10.1
networkx==3.4.2
# numpy==2.2.4
numpy
p_tqdm==1.4.2
pandas==2.2.3
pymatgen==2024.10.3
pyxtal==1.0.6
scikit_learn==1.6.1
# scipy==1.15.2
scipy
SMACT==3.0.2
sympy==1.13.1
tokenizers==0.21.1
torch==2.6.0
torch_geometric==1.7.2
torch_scatter==2.1.2
tqdm==4.67.1
transformers==4.48.2

# < see below for rationale on relaxing the version requirements >

# ERROR: Cannot install -r requirements.txt (line 1), -r requirements.txt (line 10), -r requirements.txt (line 11), -r requirements.txt (line 12), -r requirements.txt (line 4), -r requirements.txt (line 5), -r requirements.txt (line 9) and numpy==2.2.4 because these package versions have conflicting dependencies.

# The conflict is caused by:
#     The user requested numpy==2.2.4
#     ase 3.24.0 depends on numpy>=1.19.5
#     matminer 0.9.3 depends on numpy>=1.23
#     pandas 2.2.3 depends on numpy>=1.22.4; python_version < "3.11"
#     scikit-learn 1.6.1 depends on numpy>=1.19.5
#     matplotlib 3.10.1 depends on numpy>=1.23
#     pymatgen 2024.10.3 depends on numpy<3 and >=1.25.0
#     pyxtal 1.0.6 depends on numpy<2 and >=1.26

# Additionally, some packages in these conflicts have no matching distributions available for your environment:
#     numpy

# To fix this you could try to:
# 1. loosen the range of package versions you've specified
# 2. remove package versions to allow pip to attempt to solve the dependency conflict

# ERROR: ResolutionImpossible: for help visit https://pip.pypa.io/en/latest/topics/dependency-resolution/#dealing-with-dependency-conflicts

